<ion-view view-title="OOBE">
  <ion-content class="padding textalign">
    <h1>Moodalyer</h1>
    <hr class="hrstyle">
    <b>Set up:</b>
    <div class="list">
      <label class="item item-input item-rounded-top">
        <input type="text" placeholder="User Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="New PIN">
      </label>
      <label class="item item-input item-rounded-bottom">
        <input type="text" placeholder="Confirm New PIN">
      </label>
    </div>
    <b>Change splash screen:</b>
    <div class="list">
      <a class="item item-thumbnail-left item-rounded-top item-rounded-bottom" href="#">
        <img src="./resources/splash.png">
        <button type="button" class="button button-block button-positive button-small">Local Picture</button>
        <button type="button" class="button button-block button-positive button-small">Take Photo</button>
      </a>
    </div>

    <div class="button-bar">
      <a class="button button-positive button-full button-small">Cancel</a>
      <a class="button button-positive button-full button-small">Accept</a>
    </div>
  </ion-content>
</ion-view>
