<ion-view view-title="Get Help">
  <ion-content class="list-padding">
  	<ion-list can-swipe="listCanSwipe">
  	  <ion-item on-tap="showStrategy()">
  	  	<div class="list-primary-label">Happy</div>
  	  	<div class="list-secondary-label">Helped 15 times</div>
  	  </ion-item>

  	  <ion-item on-tap="showStrategy()">
  	  	<div class="list-primary-label">Excited</div>
  	  	<div class="list-secondary-label">Helped 4 times</div>
  	  </ion-item>

  	  <ion-item on-tap="showStrategy()">
  	  	<div class="list-primary-label">Tender</div>
  	  	<div class="list-secondary-label">Helped 3 times</div>
  	  </ion-item>

  	  <ion-item on-tap="showStrategy()">
  	  	<div class="list-primary-label">Scared</div>
  	  	<div class="list-secondary-label">Helped 8 times</div>
  	  </ion-item>
  	  
  	  <ion-item on-tap="showStrategy()">
  	  	<div class="list-primary-label">Sad</div>
  	  	<div class="list-secondary-label">Helped 10 times</div>
  	  </ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
