<ion-view view-title="Track Moods">
  <ion-header-bar align-title="left" class="bar bar-subheader">
    <div class="buttons">
      <button class="button" ng-click="options.showDelete = !options.showDelete">Delete</button>
    </div>
    <h1 class="title">Moods</h1>
    <div class="buttons">
    <button class="button" ng-click="addMood()">New Mood</button>
  </div>
  </ion-header-bar>
  <ion-content id="list" delegate-handle="content" overflow-scroll="auto">
    <ion-list>
      <ion-item ng-if="mood.time != -1" ng-repeat="mood in moods" id="id{{$index}}" ng-class="{ 'item-highlight' : $index == selectedIndex }" on-hold="moodHoldActions(mood, $index)" class="item-thumbnail-left">
        {{ mood.mood }} | {{ mood.time }}
      </ion-item>
	  <ion-item ng-if="mood.time == -1" ng-repeat="mood in moods" class="item-borderless item-thumbnail-left">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>