<ion-view view-title="SETUP">
  <ion-content class="padding textalign">
    <h1>Moodalyer</h1>
    <hr class="hrstyle">
    <b>Set up:</b>
    <form class="list item-rounded-top item-rounded-botton">
      <input type="text" placeholder="User Name" ng-model="UserName">
      <hr>
      <input type="number" placeholder="New PIN" ng-model="NewPin">
      <hr>
      <input type="number" placeholder="Confirm New PIN" ng-model="ConPin">
      <hr>
    </form>
    <a class="button button-positive button-full button-small" ng-click="start()">Accept</a>
  </ion-content>
</ion-view>
