<ion-view view-title="Get Help">
  <ion-content class="list-padding">
  	<ion-list can-swipe="listCanSwipe">
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	  <ion-item>Test Mood</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
