<ion-view view-title="Preferences">
  <ion-content class="padding">
    <ul class="list">

        <li class="item item-rounded-top">
          <span class="switch-text">Name</span>

          <label class="toggle right" on-tap="changePref('nameChange')">
             <input type="checkbox" ng-model="formData.nameChange">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </li>

        <li class="item item-input" ng-show="formData.nameChange">
          <input type="text" placeholder="name" ng-model="formData.name">
        </li>

        <li class="item item-rounded-top">
          <span class="switch-text">Pin</span>

          <label class="toggle right" on-tap="changePref('pinEnabled')">
             <input type="checkbox" ng-model="formData.pinEnabled">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </li>

        <li class="item item-input" ng-show="formData.pinEnabled">
          <input type="password" placeholder="Pin" ng-model="formData.pin" class="pin-input">
        </li>

        <li class="item item-rounded-bottom" on-tap="changePref('splash')">
        	Splash Image <i class="ion-chevron-right right"></i>
        </li>
    </ul>
    </canvas>
  </ion-content>
</ion-view>
