<ion-view view-title="Preferences">
  <ion-content class="padding">
    <ul class="list">
        <li class="item item-rounded-top">
          <span class="switch-text">Pin</span>

          <label class="toggle right">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </li>

        <li class="item item-input">
          <input type="password" placeholder="Pin" class="pin-input">
        </li>

        <li class="item item-rounded-bottom">
        	Splash Image <i class="ion-chevron-right right"></i>
        </li>
    </ul>
  </ion-content>
</ion-view>
