<ion-view view-title="Helpful strategy">
  <ion-content class="list-padding">
    <div class="list">
      <div class="item item-button-right">
        <div class="list-primary-label" >Deep Breathing</div>
        <button on-tap="showStrategy()" class="button button-small button-calm">
          Detail
        </button>
      </div>

      <div class="item item-button-right">
        <div class="list-primary-label" >helpful strategy 2</div>
        <button on-tap="showStrategy()" class="button button-small button-calm">
          Detail
        </button>
      </div>

      <div class="item item-button-right">
        <div class="list-primary-label" >helpful strategy 3</div>
        <button on-tap="showStrategy()" class="button button-small button-calm">
          Detail
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
