<ion-view view-title="{{mood}}">
	<ion-content>
		<div class="gradient-container">
			<div class="container-mssg">Deep Breathing</div>
		</div>

		<div class="text-block">
		I guess you can like breath and stuff. If your weird and have a problem with being happy that is. Which I have no idea why that would be. But I guess we have to help you with your happiness problems. First world problems am I right. Like literally your too happy, damn, I wish I had your problems
		</div>

		<div class="effectivness">
			<div class="circle" ng-class="effectLevel" on-tap="changeEffect()">
				<div class="rating">
					{{ effectFeeling }}
				</div>
			</div>
		</div>
  	</ion-content>
</ion-view>
