<ion-view view-title="New Mood" cache-view="false">
	<ion-content class="padding">
		<div class="list list-inset">
  		<div class="item" on-tap="openModal(1)">
				Mood: {{ doc.mood }}
			</div>

			<div class="item">
				Level: {{ doc.level }}
			</div>
			<div class="item range">
				<i class="icon ion-sad-outline"></i>
				<input type="range" min="0" max="10" ng-model="doc.level">
				<i class="icon ion-happy-outline"></i>
			</div>

			<div class="item" on-tap="openModal(2)">
				Trigger: {{ doc.trigger }}
			</div>

			<div class="item" on-tap="openModal(3)">
				Behavior: {{ doc.behavior }}
			</div>

			<div class="item" on-tap="openModal(4)">
				Belief: {{ doc.belief }}
			</div>

			<label class="item item-input item-stacked-label">
    		<span class="input-label">Date</span>
    		<input type="datetime" ng-model="doc.date">
  		</label>
			<button class="button button-block button-positive" type="submit" ng-click="addLog()">Add</button>
		</div>
	</ion-content>
</ion-view>
